# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Claude Code session files
.claude/

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/playwright-report
/playwright-results

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# environment variables
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db

.lighthouseci/
dist/
lhci_reports/